#Données de la BD
conf.db.url=jdbc:postgresql://*****:5432/indicateurs_usages
conf.db.user=*****
conf.db.password=*****


#Connecteur LDAP
conf.ldap.url=ldap://*****:389
conf.ldap.user=cn=*****, ou=*****, dc=*****,dc=*****
conf.ldap.password=*****

conf.ldap.baseDn=dc=*****,dc=*****
conf.ldap.brancheStructure=*****
conf.ldap.branchePeople=*****

#The number of thread for connecting to LDAP
conf.ldap.threadCount=8
#The number of etabs to load in memory by thread
conf.ldap.thread.etabCount=5

#Type d'établissement a prendre en compte par semaine (attention pas d'espace après les virgules)
# Inutilisé pour le moment : tous les etabs sont calculés par mois et par semaine.
conf.weekBased.etab.types=CFA
#Durée par défaut d'une connexion sans fin (temps en minutes)
conf.default.session.time=90

#Format des logs (jour ou mois)
# DAYLY : de minuit à minuit pour le jour à lire + un bout du jour apres pour recuperer les fins de sessions
# MONTHLY : du 1er 00h au dernier OOh + un bout du premier jour du mois d'après pour recuperer les fins de sessions
conf.processing.mode=MONTHLY

#Mode du traitement mensuel et hebdomadaire (argument d'appel du bacth)
#AUTO Compression automatique
#WEEK Force la compression pour une semaine date donnée même si il manque des jours ... (irreversible)
#MONTH Force la compression pour un mois date donnée même si il manque des jours ... (irreversible)
#OFF Compression désactivée

